services:
  samba:
    image: dperson/samba
    container_name: samba
    restart: unless-stopped
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
    volumes:
      - /home/henrique/shared:/shared
    environment:
      - USERID=1000
      - GROUPID=1000
    command: >
      -u "henrique;manduca"
      -s "shared;/shared;yes;no;no;henrique"
      -p
