services:
  mysql:
    image: mysql:latest
    container_name: mysql
    restart: no
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      # MYSQL_DATABASE: ${MYSQL_DB}
      # You can also create a dedicated user and password for the new database.
      # MYSQL_USER: db_user
      # MYSQL_PASSWORD: user_password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - server-net

networks:
  server-net:
    external: true

volumes:
  mysql_data:
