services:
  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest
    container_name: stirling-pdf
    ports:
      - "8002:8080"
    volumes:
      - ./stirling-data:/configs
    restart: unless-stopped
    networks:
      - server-net

networks:
  server-net:
    external: true
